#formato{
    border-radius: 10px; 
    border-style: solid; 
    width: 900px; 
    height: 740px; 
    margin: auto; 
    background: -webkit-linear-gradient(left top, #F0F3F4  , #979A9A ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #F0F3F4 , #979A9A ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #F0F3F4 , #979A9A ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #F0F3F4  , #979A9A ); /* Standard syntax */
    box-shadow: 6px 6px 6px gray;
    -moz-box-shadow: 6px 6px 6px gray;
    -webkit-box-shadow: 6px 6px 6px gray;
}
#check {
    width:20px;
    height:20px;
}
textarea {
    overflow-y: scroll;
    resize: none;
}

.container .row a{
     display: block;
}

#pass, #usuario{
    padding: 8px;
    border-radius:5px ;
    border: 1px solid rgb(95, 95, 95);
}
/*esta parte es cuando el usuario se pare justo en este campo*/
#pass:focus, #usuario:focus {
    border: 2px solid  rgb(2, 187, 101);
    transition: all .3s linear;
}
/*aca quite la linea que tenias en html y la puse con css, para poder cambiar los colores y tomar diferentes tipos de lineado*/
.row .abajo{
    border-top: inset;
    padding-top: 30px;
    margin-top: 50px;
}
.row .btn-secondary:hover{
    background: rgb(2, 187, 101);
    color: white;
}

@media (max-width: 800px){
    #imagen{
        display: none;
        display: md-block;
    }
}
@media (max-width: 800px){
    #formato{
        width: 410px;
    }
}
